{{!--  este va a ser mi front --}}
<h2>Chat websocket</h2>
<input type="text" id="mensaje">
<div id="mensajes"></div>
<a href="/">Volver al Home</a>

{{!-- Script libreria sweet alert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- Liberia de socket --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- Script personalizado, con contenido estatico -- ver folder public --}}
<script src="/05_desafio/src/public/js/chat.js"></script>